<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{productos.0.title}}</title>
</head>
<body>
    <div class="product-details">
        <h1>{{productos.0.title}}</h1>
        <img src="{{productos.0.thumbnail}}" alt="{{productos.0.title}}" style="max-width: 300px;">
        <p>Precio: ${{productos.0.price}}</p>
        <p>Descripci칩n: {{productos.0.description}}</p>
        <p>Stock: {{productos.0.stock}}</p>
    </div>
    <!-- ac치 puedo agregar m치s c칩digo -->
</body>
</html>
