<!DOCTYPE html>
<html>
<head>
    <title>Registro Exitoso</title>
</head>
<body>
    <h1>¡Registro Exitoso!</h1>
    <p>{{message}}</p>
    <p>Datos del usuario:</p>
    <ul>
        <li><strong>Email:</strong> {{user.email}}</li>
        <li><strong>Nombre:</strong> {{user.name}}</li>
        <li><strong>Apellido:</strong> {{user.lastName}}</li>
        <li><strong>Edad:</strong> {{user.age}}</li> 
    </ul>
</body>
</html>
